numpy 
scipy 
matplotlib 
ipython 
jupyter 
pandas 
sympy 
nose
django 
flask 
gensim 
lxml 
pymongo 
NLTK 
Flask-WTF 
imbalanced-learn
requests 
scikit-learn 
seaborn 
scrapy 
beautifulsoup4 
plotly 
networkx
tensorflow-gpu
keras 
xgboost
pyldavis
spacy
wordcloud
pillow
bokeh
statsmodels
opencv-python
pixiedust
